.full-height {
  height: 100vh;
  background: #f9f9f9;
}
/* .container-fluid {
    height: 100hv;
    background-color: azure;
} */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    background-color: white;
    border: 0px solid cornflowerblue;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}