<div class="app">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/warehouse/home']">
          <img class="navbar-brand-full" src="../../../assets/logo.svg" width="89" height="25" alt="POS Warehouse">
        </a>
        <button id="sidebarCollapse" (click)="sideBarToggle()" type="button" class="btn btn-light bg-default rounded-pill shadow-sm px-4 btn-toggler"><i
          class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
    
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mx-4">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/warehouse/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Reports']">Reports</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/users']">User</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/settings']">Settings</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown mx-2" routerLinkActive="active">
          <a class="nav-link" href="#">
            <i class="fa fa-bell-o"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li class="nav-item dropdown mx-2" routerLinkActive="active">
          <a class="nav-link" href="#">
            <i class="fa fa-list-ul"></i>
            <span class="badge badge-pill badge-warning">15</span>
          </a>
        </li>
        <li class="nav-item dropdown mx-2" routerLinkActive="active" dropdown>
            <a class="nav-link" dropdownToggle>
              <i class="fa fa-envelope-o"></i>
              <span class="badge badge-pill badge-info">17</span>
            </a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" [routerLink]="['/member/edit']" ><i class="fa fa-user"></i> Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
              </div>
          </li>
          <li class="nav-item dropdown mx-2" dropdown>
            <a class="nav-link" dropdownToggle>
              <img class="img-avatar" src="../../../assets/user.png" alt="User">
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/member/edit']" ><i class="fa fa-user"></i> Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
          </li>
      </ul>
    </div>
    </nav>
  <div class="body-content">
    <!-- Vertical navbar -->
    <div [ngClass]="{active: !sidebarToggler}" class="vertical-nav bg-white scrollbar scrollbar-pink bordered-pink" id="sidebar">
      <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
            class="mr-3 rounded-circle img-thumbnail shadow-sm">
          <div class="media-body">
            <h4 class="m-0">{{model.userName | titlecase}}</h4>
            <p class="font-weight-light text-muted mb-0">{{model.role}}</p>
          </div>
        </div>
      </div>

      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-dark font-italic bg-light" [routerLink]="['/warehouse/home']">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
            Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-dark font-italic bg-light" [routerLink]="['/warehouse/dashboard']">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" dropdown>
            <a class="nav-link text-dark font-italic bg-light" dropdownToggle>
              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Setup
            </a>
            <ul class="nav flex-column bg-white mb-0 dropdown-menu" *dropdownMenu>
                <li class="nav-item dropdown-item">
                  <a class="nav-link text-dark font-italic bg-light">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Home
                  </a>
                </li>
                <li class="nav-item dropdown-item">
                  <a class="nav-link text-dark font-italic bg-light">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item dropdown-item">
                    <a class="nav-link text-dark font-italic bg-light">
                      <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                      Setup
                    </a>
                  </li>
              </ul>
          </li>
      </ul>
    </div>
    <!-- End vertical navbar -->

    <!-- Page content holder -->
    <div class="page-content p-4" id="content" [ngClass]="{active: !sidebarToggler}">
        <router-outlet></router-outlet>
    </div>
    <!-- End demo content -->
  </div>