/* for nav bar */
.img-avatar {
  height: 30px;
  margin: 0 10px;
  border-radius: 50em;
  width: 30px;
}

.badge {
  position: absolute;
  margin-top: -4px;
  margin-left: -7px;
}

.btn-toggler {
  margin-left: 40px;
}

.navbar .dropdown-menu.show {
  margin-left: -163px;
  width: 100%;
  min-width: 251px;
  margin-top: 10px;
}
/* for app body */
.body-content {
    margin-top: 65px;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: calc(100vh - 65px);
    position: fixed;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    overflow-x: hidden;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }

  .vertical-nav .nav-item.active a {
    background-color: #75CAEB !important;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }

/* Scrol bar */

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #75CAEB; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF851B; 
}

/* Scrol bar end */