/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/lumen/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css'; */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/@coreui/icons/css/free.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/@coreui/coreui/dist/css/coreui.min.css';


/* body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-toggler {  
    display: contents !important;
}

.navbar-toggler-icon {
    margin-left: 20px !important;
} */
